body{
    background: linear-gradient(to right, #51def9, #2194ff);
    background-size: cover;
    text-align: center;
}

h1, p{
    color: white;
    text-shadow: 0.1em 0.1em 0.2em black;
    text-transform: uppercase;
}

input[type=text]{
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    height: 40px;
    width: 500px;
    box-shadow: 0.1em 0.1em 0.2em black;
    outline: none;
    font-size: large;
    text-align: center;
}

input[type=text]:focus{
    border: cornflowerblue 1px solid;
}

input[type=text]::placeholder{
    font-size: medium;
    text-align: center;
}

button{
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    padding: 10px 40px;
    background: white;
    box-shadow: 0.1em 0.1em 0.2em black;
}

button:hover{
    background: wheat;
}

.tarefas{
    margin-top: 50px;
    text-align: -webkit-center;
}

.task{
    background: white;
    padding: 10px;
    width: 500px;
    text-align: center;
    box-shadow: 0.1em 0.1em 0.2em black;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}

input[type=checkbox]:checked + label{
    text-decoration: line-through;
    color: gray;
}

input[type=checkbox]:checked{
    background-color: green;
    width: 25px;
}

label{
    text-transform: capitalize;
    font-size: large;
    padding: 5px 0;
    width: 100%;
    text-align: left;
}

.task:hover{
    background: lightgreen;
}

#mensagem{
    margin-top: 100px;
    color: black;
    text-shadow: none;
    font-weight: bold;
    font-size: x-large;
}